#tabla {
	background-color: #CCCCCC;
	margin: 0px auto;
}

#tabla td {
	border: 1px solid black;
}

body {
	font-family: 'Arial', sans-serif;
}

h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.celdaverde {
	background-color: #00FF66;
	text-align: center;
	font-weight: bold;
	font-size: 1.3em;
}

#tablaInterna {
	border-collapse: collapse;
}

#tablaInterna td {
	border: none;
}

#centradoFecha {
	display: table;
}

.fecha {
	display: table-cell;
	text-align: center;
}

/* Estilos generales */
#tabla {
	width: 100%;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
	#tabla {
		width: 100%;
	}

	#tabla td {
		display: block;
		width: 100%;
	}

	#tablaInterna {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap; /* Added flex-wrap property */
	}
}

.red {
	color: red;
}