body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

h1 {
	text-align: center;
	color: #333;
}

form {
	width: 500px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

legend {
	font-weight: bold;
	margin-bottom: 10px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="date"],
select {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

#div-datos-obligatorios {
	text-align: center;
}

.red {
	color: red;
}

input[type="submit"],
input[type="reset"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
	background-color: #45a049;
}

#div-botones {
	text-align: center;
}

#div-checkboxes {
	display: flex;
	flex-wrap: wrap;
	justify-items: space-between;
}

#div-checkboxes .checkbox-item {
	flex: 1 0 33%;
}

.checkbox-item label {	
	display: initial;
}
.error-message {
	color: red;
	font-size: 12px;
}

#divTerminosCondiciones label {
	display: initial;
}
